@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'custom-bootstrap';
@import './BottomNav.scss';
@import './BodyCard.scss';
@import './Home.scss';
@import './Statistics.scss';
@import './User.scss';
@import './Settings.scss';
@import './Login.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid black;
}

body{
    background-color: #EAF1FF;
}

#app {
    display: grid;
    place-items: center;
    
    #nav-app {
        position: sticky;
        top: 0;
        z-index: 999;
    }

    #bottom-nav {
        position: sticky;
        bottom: 5%;
        width: max-content;
    }
    
}


.loading{
  filter: grayscale(100%);  
}