@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'custom-bootstrap';
@import './BottomNav.scss';
@import './BodyCard.scss';
@import './Home.scss';
@import './Statistics.scss';
@import './User.scss';
@import './Settings.scss';
@import './Login.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid black;
}

body{
    background-color: #EAF1FF;
}

#app {
    display: grid;
    place-items: center;
    
    #nav-app {
        position: sticky;
        top: 0;
        z-index: 999;
        
        button{
            background-color: #ffffff;
            padding: 0.2em 0.5;

            transition: all 0.2s ease-in-out;

            i{
                font-size: larger;
                color:#000000;
                opacity: 60%&
            }

            &:hover{
                opacity: 60% !important;
            }
        }
    }

    #bottom-nav {
        position: sticky;
        bottom: 5%;
        width: max-content;
    }
    
}


.loading{
  filter: grayscale(100%);  
}
#alert-errors{
    gap: 10px;
}

.error{
    .alert{
        padding: 0.5em;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #f8d7da91;
        gap: 0.5em;
       div{
        font-size: medium !important;
       }
       .err-button{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        padding: 0;
        margin: 0;
    
        &:active{
            background-color: #00000000;
        }
    
        i{
            color: rgba(255, 0, 0, 0.524);
            font-size: x-large;
            background-color: #ff9d9d45;
            border-radius: 4px;
        }
       }
       p{
        max-width:18em;
        overflow-wrap: break-word;
        margin: 0;
    }
    }
}